



@font-face {
    font-family: 'alokary';
    src: url('~@/assets/fonts/Alokary.ttf') format('truetype');
  }

  .title-font {
    font-family: alokary;
  }

  // Define variable defaults

$title-color: #E7D5B8;

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
